In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

import pandas as pd

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.

#wasn't sure how to use the extract function.  I tried to parse the documentation but it was a bit confusing
#eventually consulted stackoverflow and used this as a guide
#https://stackoverflow.com/questions/12019766/how-to-get-month-and-year-from-date-field-in-sqlalchemy
june_temps = session.query(Measurement.tobs).filter(extract("month", Measurement.date)==6).all()

In [5]:
# 2. Convert the June temperatures to a list.
#wanted to check on numpy vs list concat and concat was much faster .003-.005 sec for list concat
#about .024 sec for numpy method
#import time
#start_time = time.time()

june_temps_list = [value[0] for value in june_temps]

#I used list concatanation but I decided to go back and look at the module how to use numpy
#since it was included on the list of dependencies, the code below can replace the first line.
#june_temps_list = list(np.ravel(june_temps))

#print(time.time()-start_time)
#june_temps_list

In [6]:
# 3. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps_list, columns = ['June_Temps'])
#june_temps_df

In [7]:
# 4. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

        June_Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [8]:
# 5. Return to your challenge instructions to compare your summary statistics

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement.tobs).filter(extract("month", Measurement.date)==12).all()

In [10]:
# 7. Convert the December temperatures to a list.
#dec_temps_list = [value[0] for value in dec_temps]

#same thing can be done using numpy, and I'll use it here since I used the faster list concat above
dec_temps_list = list(np.ravel(dec_temps))

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps_list, columns = ['Dec_Temps'])

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

         Dec_Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [ ]:
# 10. Return to your challenge instructions to compare your summary statistics